.wrapper {
  display: flex;
  flex-wrap: wrap;  
  gap: 16px;  
  justify-content: start;
}

.item {
  display: flex;
  flex-direction: column; 
  width: calc(33.333% - 16px);  
  box-sizing: border-box;  
}

@media (max-width: 1024px) {
  .item {
    width: calc(50% - 16px);  
  }
}

@media (max-width: 768px) {
  .item {
    width: 100%;  
  }
}
